:root {
    // цвета
    --green-grey-color: #24484E;
    --green-grey-color-alt: #365B61;
    --green-grey-color-dark: #183A40;
    --green-gray-color-light: #40808A;
    --light-color: #FDFDFD;
    --light-color-alt: #F3F1F1;
    --orange-color: #F15A3B;
    --red-color: #C83939;
    --red-color-light: #FB7A7A;
    --yellow-color: #FF0;
    --black-color: #191919;
    --black-color-alt: #252525;
    --black-color-light: #424242;
    --gray-color: #717171;
    --gray-color-alt: #606060;
    --gray-color-light: #929292;
    --gray-color-dark: #454545;
    --overlay-color: rgba(0 0 0 / 60%);

    //  шрифты

    /* Inter */

    --font-inter-xxl-semibold: normal 600 24px/29px 'Inter', sans-serif;
    --font-inter-lg-semibold: normal 600 16px/19.4px 'Inter', sans-serif;
    --font-inter-lg-regular: normal 400 16px/19.4px 'Inter', sans-serif;
    --font-inter-md-semibold: normal 600 14px/17px 'Inter', sans-serif;
    --font-inter-md-regular: normal 400 14px/17px 'Inter', sans-serif;
    --font-inter-sm-semibold: normal 600 12px/14.5px 'Inter', sans-serif;
    --font-inter-sm-regular: normal 400 12px/14.5px 'Inter', sans-serif;

    /* Tuffy */

    --font-tuffy-md-bold: normal 700 16px/24px 'Tuffy', sans-serif;

}
